.main-header{
    background-color: #fff;
    height: 80px;
    border-bottom: 1px solid #d4d4d4;
    img.header-logo {
        width: 120px;
        margin: 20px 0px 0px 20px;
    } 
    nav{
        float: right;
        margin: 20px 20px 0px 0px;
        cursor: pointer;
        img.profile-sm-logo {
            width: 32px;
        }
        .profile-logo{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #4783a3;
            color: #fff;
            line-height: 40px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        li{
            display: inline-block;
            padding-right: 30px;
            a{
                color:#000;
                text-decoration: none;
                font-size: 16px;
                &:hover{
                    color: #101141;
                    text-decoration: underline;
                }
                &:last-child{
                    padding-right: 0px;
                }
            }
        }
         
    }
    
}