<div class="master-data-page">
  <app-header></app-header>
 
  <div class="master-data-inner-section">

      <mat-form-field appearance="outline" class="master-data-list">
        <mat-select  [(value)]="selected">
            <mat-option value="1">Aetna EGWP Plans</mat-option>
            <mat-option value="2">Termed CUIDs</mat-option>
            <mat-option value="3">Medicare LOB</mat-option>
            <mat-option value="4">ODS Suppression Codes</mat-option>
            <mat-option value="5">DMOVY References</mat-option>
            <mat-option value="6">SPAP Account</mat-option>
            <mat-option value="7">Event and Reason Code</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile class="search-section">
          <mat-form-field>
            <input matInput  placeholder="Search..." (keyup)="applyFilter($event)" >
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="add-btn">  
          <button mat-button  mat-flat-button color="primary" class="add-data-btn" (click)="openCreateMasterDataDialog()">Add Data</button>
        </mat-grid-tile>
      </mat-grid-list>


      <div class="container text-center">
          <table mat-table [dataSource]="dataSource" matSort #mytable class="my-table mat-elevation-z8">
            
            <!-- CUID Column -->
            <ng-container matColumnDef="cuid" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CUID </th>
              <td mat-cell *matCellDef="let element" style="width:10%;"> {{element.cuid}} </td>
            </ng-container>

              <!-- Carrier Column -->
              <ng-container matColumnDef="carrier" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Carrier </th>
              <td mat-cell *matCellDef="let element" style="width:10%;"> {{element.carrier}} </td>
            </ng-container>
        
            <!-- Client Name  Column -->
            <ng-container matColumnDef="clientName" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
              <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
            </ng-container>

              <!-- Created Date  Column -->
              <ng-container matColumnDef="createdDate" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
              <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
            </ng-container>

              <!-- Create By  Column -->
              <ng-container matColumnDef="createdBy" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
              <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
            </ng-container>

            <!-- Updated By  Column -->
            <ng-container matColumnDef="updatedBy" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated By </th>
              <td mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
            </ng-container>

              <!-- Created Date  Column -->
              <ng-container matColumnDef="updatedDate" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date </th>
              <td mat-cell *matCellDef="let element"> {{element.updatedDate}} </td>
            </ng-container>
        
            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="action-title"> Action </th>
              <td mat-cell *matCellDef="let element" class="action-link"> 
                  <button mat-icon-button color="primary" (click)="openEditMasterDataDialog()">
                      <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>
                  <button mat-icon-button color="primary">
                      <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
  </div>
</div>
